$baseWhite: #ffffff;
$baseBlack: #000000;
$lightGray: #F4F4F4;
$darkGray: #DADADA;
$secondaryGray: #9F9F9F;
$thirdlyGray: #706E6E;
$fourthlyGray: #CECECE;
$darkBlue: #395378;
$baseGreen: #559853;
$baseViolet: #C1C8D2;
